{% extends 'model-page.html' %}

{% block content %}
    <div class="offset-1 col-10">
        <h1>Quem Sou Eu?</h1>
        <p>Olá, me chamo Jorge Roniel, tenho 18 anos e atualmente moro em Crateús - CE, mas sempre que posso vou a minha terra
        natal, Croatá, na Serra da Ibiapaba, também no Ceará (vocês deviam visitar...). Faço faculdade de Ciência da Computação
        na Universidade Federal do Ceará, estou no 3º Semestre. Sempre gostei de tecnologia, gostava de ficar no computador,
        aprender coisas novas, etc. Em 2019, entrei na EEEP Deputado José Maria Melo, uma escola de ensino médio com cursos
        profissionalizantes, escolhi o curso técnico e informática que me possibilitou conhecer o mundo da programação no qual
        eu me apaixonei. Agora, estou estudando e buscando me especializar cada vez mais em programação e conseguir meu primeiro
        emprego. É isso, esse sou eu.</p>
        <h2>Onde me Encontrar?</h2>
        <ul class="social-list">
            <li class="social-itens">
                <a href="https://github.com/JorgeRoniel"><span><i class="fa-brands fa-square-github"></i></span></a>
            </li>
            <li class="social-itens">
                <a href="https://www.instagram.com/jorgeroniel__/"><span><i class="fa-brands fa-square-instagram"></i></span></a>
            </li>
            <li class="social-itens">
                <a href="https://www.linkedin.com/in/jorge-roniel-244762230/"><span><i class="fa-brands fa-linkedin"></i></span></a>
            </li>
            <li>
                Email: jorge.infor4g@gmail.com
            </li>
        </ul>
    </div>

{% endblock %}